.text_message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 66px;
  padding: 10px;
  margin: 10px;
  background-color: var(--menu-background);
  border: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
}

.text_message__p {
  font-family: sans-serif;
  margin: 0;
  font-size: 14px;

}

.text_message__button {
  color: white;
  margin: 0;
  font-size: 8px;
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  font-family: sans-serif;


  position: absolute;
  right: 6px;
  bottom: 5px;
}