.text_message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  padding: 4px;
  margin: 5px;
  background-color: var(--menu-background);
  border: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
}

.text_message__p {
  margin: 0;
  font-size: 8px;

}

.text_message__button {
  color: white;
  margin: 0;
  font-size: 8px;
  appearance: none;
  background: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;

  position: absolute;
  right: 6px;
  bottom: 5px;
}